oracledb
sentence-transformers
oci
jupyterlab
pandas
setuptools
scipy
matplotlib
scikit-learn
langchain
langchain_community
numpy
onnxruntime
onnxruntime-extensions
onnx
pillow
prettytable
pyvis
torch
transformers
sentencepiece
spacy
requests
ipython-sql
Flask
jupyterlab-lsp
jedi-language-server